@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  /* PRIMARY (BLUE) - From UI Kit */
  --color-primary-050: #e9eefb;
  --color-primary-100: #dce4f8;
  --color-primary-200: #c3d0f3;
  --color-primary-300: #a9bbee;
  --color-primary-400: #90a7e9;
  --color-primary-500: #7693e4;
  --color-primary-600: #617cc6;
  --color-primary-700: #4d65a7;
  --color-primary-800: #384d89;
  --color-primary-900: #24366a;
  --color-primary-950: #0f1f4c;

  /* NEUTRAL (GRAY) - From UI Kit */
  --color-neutral-100: #f7f7f7;
  --color-neutral-300: #e8e8e8;
  --color-neutral-400: #d9d9d9;
  --color-neutral-500: #b3b3b3;
  --color-neutral-600: #8c8c8c;
  --color-neutral-700: #5a5a5a;
  --color-neutral-800: #404040;
  --color-neutral-900: #2e2e2e;

  /* Add font here later */
  --font-inter: "Inter", sans-serif;
}

body {
  min-height: 100vh;

  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
